page-profile {
  .scroll-content {
    margin-top: 0 !important;
  }
  ion-header,
  .toolbar-background {
    //background-color: initial !important;
    background-color: rgba(255, 255, 255, 0) !important;

    &:after {
      height: 0 !important;
    }
  }
  .profileheader {
    .item {
      background-color: color($colors, dark) !important;
    }

    h2 {
      color: white;
    }

    .item.item-block .item-inner {
      border-bottom: none;
    }

    .bcdrp img {
      position: fixed;
      max-height: 57%;
      min-height: 57%;
      min-width: 100%;
    }
  }

  .segm {
    position: absolute;
    top: 51%;
    width: 100%;

    .item {
      background-color: color($colors, dark) !important;
    }

    .item ion-thumbnail img {
      width: 80px;
      height: 120px;
      border-radius: 10px;
    }

    .list {
      margin: -1px 0 0px;
    }

    ion-segment {
      background-color: rgba(220, 220, 220, 0.7);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  p {
    color: white !important;
  }

  .item p {
    color: white;
  }

  .item {
    background-color: color($colors, dark) !important;
    color: white;
  }

  .segment-button {
    color: color($colors, primary);
  }

  .segment-button.segment-activated {
    border-color: color($colors, primary);
  }
}
